# Google Analytics
NEXT_PUBLIC_GA_ID=G-G07QCN84CH

# Google Sheets call tracking
GOOGLE_SHEETS_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_SHEETS_SHEET_ID=your-spreadsheet-id

# Lead forwarding phone number
FORWARD_PHONE_NUMBER=+441234567890
